<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cuit.ai212.e4j.mapper.AdminMapper">
    <select id="selectByUsername" resultType="org.cuit.ai212.e4j.domain.Admin">
        select *
        from t_admin
        where username = #{username}
    </select>
    <select id="selectAll" resultType="org.cuit.ai212.e4j.domain.Admin">
        select *
        from t_admin
        limit #{page},#{size}
    </select>
</mapper>